@font-face {
    font-family: 'OpenSans', Roboto;
    src: url('../font/OpenSans-Regular.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../font/OpenSans-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: "OpenSans", "Roboto", "Arial", sans-serif;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    min-height: 100%;
    overflow-x: hidden;
}
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    background-color: #000;
}

body {
    background: url('../img/backgroun-cinema.jpg') #000;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    font-size: 16px;
}

.header {
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    max-width: 962px;
    margin: 0 auto;
    padding: 14px;
}

.enter {
    background-color: #16A6AF;
    color: #fff;
    padding: 12px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    text-align: center;
    flex-shrink: 0;
}

.logo {
    display: block;
    max-width: calc(100% - 90px);
    overflow: hidden;
}

.logo__image {
    max-width: none;
    width: auto;
    height: auto;
    display: block;
}

.page-nav {
    display: flex;
    width: 100%;
    max-width: 990px;
    margin: 0 auto ;
    justify-content: center;
    align-items: center;
}

.page-nav__day {
    flex-grow: 0;
    flex-shrink: 1;
    width: 124px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.9);
    height: 48px;
    margin-right: 1px;
    padding: 10px 20px;
    color: #000000;
    text-decoration: none;
    transition: 0.2s;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
}

.page-nav__day:last-child {
    margin-right: 0;
}

.page-nav__day_today {
    font-weight: bold;
}

.page-nav__day_chosen {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    z-index: 10;
    width: 241px;
    height: 52px;
    border-radius: 3px;
    transition: width 0.2s, height 0.2s;
    margin-right: 0;
    padding: 11px 22px;
}

.page-nav__day_prev {
    margin-right: 0;
}

.page-nav__day_chosen .page-nav__day-week,
.page-nav__day_chosen .page-nav__day-number {
    font-size: 15px;
    line-height: 14px;
    font-weight: 700;
}

.page-nav__day_weekend {
    color: #DE2121;
}

.page-nav__day-week {
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
}

.page-nav__day-number {
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
}

.page-nav__day_prev-arrow {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    width: 124px;
    padding: 10px 0;
    border-radius: 2px;
}

.page-nav__day_next {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    width: 124px;
    padding: 10px 0;
    border-radius: 2px;
}

#page-nav.page-nav_double-arrows .page-nav__day_prev-arrow,
#page-nav.page-nav_double-arrows .page-nav__day_next {
    width: 60px;
}

.movie {
    display: grid;
    grid-template-columns: 145px 1fr;
    grid-template-rows: min-content 1fr;
    max-width: 990px;
    margin: 40px auto 0;
    align-items: start;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 2px;
    vertical-align: middle;
    padding-bottom: 20px;
}

.movie__poster {
    width: 125px;
    height: 175px;
    padding-left: 15px;
    padding-top: 14.4px;
    grid-row: 1;
    display: flex;
    align-items: flex-start;
}

.movie__poster::after {
    content: '';
    display: block;
    width: 6px;
    height: 14px;
    background-color: #393939;
    flex-shrink: 0;
    margin-left: 0.4px;
}

.movie__poster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.movie__info {
    color: #000000;
    padding-top: 12px;
    padding-right: 415px;
    position: relative;
}

.movie__title {
    display: inline;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
}

.movie__description {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    margin-top: 10px;
}

.movie__data {
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.movie__data-origin {
    margin-left: 5px;
}

.movie__seances {
    margin-bottom: 30px;
    grid-column: 1 / -1;
    padding-left: 15px;
}

.movie__seances:last-child {
    margin-bottom: 0;
}

.movie__seances-hall {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 7px;
    color: #000;
}

.movie__seances-list {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.movie__seance {
    width: 53px;
    height: 33px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: box-shadow 0.2s, background-color 0.2s;
}

.movie__seance:hover {
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}

.movie__seance--past {
    opacity: 0.5;
    background-color: #dddddd;
    color: #888888;
    cursor: not-allowed;
    box-shadow: none;
}

.movie__seance--past:hover {
    box-shadow: none;
}

.movie__seance-time {
    font-size: 15px;
    line-height: 17px;
    font-weight: 400;
    color: #000;
}

.movie__seance--past {
    opacity: 0.4;
    cursor: not-allowed;
    background-color: #f1f1f1;
    box-shadow: none;
    pointer-events: auto;
}

@media screen and (min-width: 768px) and (max-width: 900px) {
    .page-nav {
        max-width: none;
        width: 100%;
    }

    .page-nav__day {
        width: auto;
        flex: 1;
        padding: 10px 20px;
        height: 48px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
    }

    .page-nav__day-week {
        font-size: 12px;
        line-height: 14px;
        font-weight: 400;
    }

   .page-nav__day-number {
        font-size: 12px;
        line-height: 14px;
        font-weight: 400;
    }
    
    .page-nav__day_chosen {
        flex: none;
        width: 187px;
        padding: 11px 22px;
        height: 52px;
        background-color: #FFFFFF;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
    }

    .movie {
        max-width: none;
        width: 100%;
        border-radius: 0;
        margin: 40px 0 0;
        display: grid;
        grid-template-columns: 145px 1fr;
        grid-template-rows: auto auto;
        gap: 0;
        position: relative;
    }

    .movie__poster {
        grid-column: 1;
        grid-row: 1;
        position: relative;
        width: 125px;
        height: 175px;
        padding-left: 15px;
        padding-top: 15px;
        display: block;
    }

    .movie__poster::after {
        content: '';
        position: absolute;
        width: 6px;
        height: 14px;
        top: 14.8px;
        right: -6.9px;
        margin: 0;
        background-color: #772720;
        clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
        z-index: 5;
    }

    .movie__info {
        grid-column: 2;
        grid-row: 1;
        padding-top: 12px;
        padding-right: 15px
        ;
        margin-left: 0;
        min-height: 0;
    }

    .movie__seances {
        grid-column: 1 / -1;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 767px) {
    .header {
        max-height: none;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
    }

    .page-nav {
        width: 100%;
        max-width: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
        border-radius: 0;
    }

    .page-nav__day {
        flex: 1 1 auto;
        width: 49px;
        min-width: 0;
        padding: 10px;
        margin-right: 1px;
        line-height: 14px;
        text-align: left;
    }

    .page-nav__day_today {
        width: 66px;
    }

    .page-nav__day_chosen {
        flex: 1 1 auto;
        width: 75px;
        padding: 11px;
    }

    .page-nav__day_today.page-nav__day_chosen {
        flex: 1 1 auto;
        width: 80px;
    }

    .page-nav__day-week {
        font-size: 12px;
        line-height: 14px;
        font-weight: 400;
    }

   .page-nav__day-number {
        font-size: 12px;
        line-height: 14px;
        font-weight: 400;
    }

    .page-nav__day_next,
    .page-nav__day_prev-arrow {
        flex: 1 1 auto;
        width: 49px;
        margin-right: 1px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        line-height: 28px;
        padding: 10px 0;
    }
    .page-nav__day_next {
        margin-right: 0;
    }
    .page-nav__day-week {
    font-size: 12px;
    font-weight: 400;
    }

    .page-nav__day-number {
    font-size: 12px;
    font-weight: 400;
    }

    .movie {
        margin: 30px 0 0;
        width: 100%;
        max-width: none;
        border-radius: 0;
        display: grid;
        grid-template-columns: 140px 1fr;
        grid-template-rows: auto auto;
        gap: 0;
        position: relative;
        padding-bottom: 15px;
    }

    .movie__poster {
        grid-column: 1;
        grid-row: 1;
        position: relative;
        width: 125px;
        height: 175px;
        padding-left: 15px;
        padding-top: 15px;
        display: block;
    }

    .movie__poster::after {
        content: '';
        position: absolute;
        width: 6px;
        height: 14px;
        top: 14.8px;
        right: -6.9px;
        margin: 0;
        background-color: #772720;
        clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
        z-index: 5;
    }

    .movie__info {
        grid-column: 2;
        grid-row: 1;
        padding-top: 12px;
        padding-right: 15px;
        margin-left: 0;
        min-height: 0;
    }

    .movie__title {
        font-size: 16px;
        line-height: 18px;
    }

    .movie__description {
        font-size: 14px;
        line-height: 16px;
        margin-top: 10px;
        margin-right: 5px;
    }

    .movie__data {
        font-size: 14px;
        line-height: 16px;
        margin-top: 10px;
        margin-left: 0;
    }

    .movie__seances {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 0;
        margin-top: 0;
        margin-bottom: 30px;
    }

    .movie__seances-hall {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .movie__seance {
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    }

    .movie__seance-time {
        font-size: 15px;
        line-height: 17px;
    }
}